* {
    margin: 0;
    padding: 0;
}

.texto-destaque {
    color: rgb(248, 143, 5);
}

.título-blog {
    color: rgb(4, 243, 16);
    margin: 10px;
    border: 5px solid blue;
    padding: 5px;
}

.urgente {
    color: red;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}
