.rodape {
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao {
    padding: 5% 15%;
}

.cabecalho {
    font-size: 24px;
    color: #000000;
    padding: 5% 20%;
    display: flex;
}

